<ion-header no-border>
  <ion-navbar color="primary">
    <ion-title>GreenCar@UoL</ion-title>
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <div padding>
    <ion-segment [(ngModel)]="journeys">
      <ion-segment-button value="createdJourneys">
        Created Journeys
      </ion-segment-button>
      <ion-segment-button value="suggestedJourneys">
        Suggested Journeys
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="journeys">
    <ion-list no-lines *ngSwitchCase="'createdJourneys'">
      <ion-item-sliding *ngFor="let route of routes; let i = index">

        <ion-item (click)="showRoute(route, i)">
            <ion-avatar item-start style="zoom:1.4;">
                <img src="../../assets/travatar.png">
              </ion-avatar>
          <p class="dateAdded text-muted">{{route.dateBooked | date:'dd-MMM'}}</p>
          <h4>Route Details</h4>
          <p>From: {{route.start}}</p>
          <p>To: {{route.end}}</p>
        </ion-item>

        <ion-item-options side="right">
          <button color="danger" ion-button icon-only (click)="routingService.removeRoute(routine)">
            <ion-icon name="trash"></ion-icon>
          </button>
        </ion-item-options>
      </ion-item-sliding>
      <button ion-button block (click)="createJourney()">Create Journey</button>
    </ion-list>

    <ion-list no-lines *ngSwitchCase="'suggestedJourneys'">
        <ion-item-sliding *ngFor="let route of routingService.getRoutes(); let i = index">

            <ion-item (click)="showRoute(route, i)">
                <ion-avatar item-start>
                    <img src="../../assets/img/avatar-leia.png">
                  </ion-avatar>
              <p class="dateAdded text-muted">{{route.dateBooked | date:'dd-MMM'}}</p>
              <h4>Route Details</h4>
              <p>From: Friar Lane</p>
              <p>To: Lorne Road</p>
            </ion-item>

            <ion-item-options side="right">
              <button color="danger" ion-button icon-only (click)="routingService.removeRoute(routine)">
                <ion-icon name="trash"></ion-icon>
              </button>
            </ion-item-options>
          </ion-item-sliding>
    </ion-list>
  </div>

</ion-content>
