.ios,
.md {
  page-about {
    .card{
      padding:0 !important;
    }

    p{
      color:#6F6F6F;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 14px;
    }

    .dateAdded{
      margin-top:5px;
      margin-bottom:-5px;
    }

    ion-item-sliding {
      margin-bottom: 15px;
      width: 100%;
      margin-left: 2%;
      margin-right: 2%;
      background-color: #fff;
  }

  .list > .item-wrapper:last-child .item-block {
    border-bottom: 0px solid #c8c7cc;
  }
    
    ion-list{
    border-bottom: 0px solid;
  }

  ion-item {
      height:90px;

      h4 {
          font-weight: bold;
          padding-top:5px;
      }
  }

  ion-item-options button {
      padding-left: 20px !important;
      padding-right: 20px !important;
  }
  }
}
