<!--
  Generated template for the ChatPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{user.username}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-item *ngFor="let message of messageList$ | async" no-lines>
        <div id="initial" item-start style="zoom:1.2;" *ngIf="message.uid != uid">
            {{message.userName.charAt(0)}}
          </div>
        <div id="initial" item-end style="zoom:1.2;" *ngIf="message.uid == uid">
            {{message.userName.charAt(0)}}
          </div>
        <div class="comment" [style.background-color]="message.uid == uid ? '#e0f3e0' : '#e6e4e4'">
          <p id="commentTime">{{message.timeSent}}</p>
          <p id="commentUser">{{message.userName}}</p>
          <p id="commentText">{{message.message}}</p>
        </div>
      </ion-item>

    <ion-footer keyboard-attach class="bar-stable item-input-inset">
        <ion-item id="messageInput">
            <ion-input id="commentInput" type="text" placeholder="  enter your message..." [(ngModel)]="messageText"></ion-input>
            <button ion-button item-right (click)="sendMessage()">Send</button>
          </ion-item>
      </ion-footer>

</ion-content>
