<ion-header no-border>
  <ion-navbar color="primary">
    <ion-title>{{user.username}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content #content padding>

    <ion-item *ngFor="let message of messageList$ | async" no-lines>
        <div id="initial" item-start style="zoom:1.2;" *ngIf="message.uid != uid">
            {{message.userName.charAt(0)}}
          </div>
        <div id="initial" item-end style="zoom:1.2;" *ngIf="message.uid == uid">
            {{message.userName.charAt(0)}}
          </div>
        <div class="comment" [style.background-color]="message.uid == uid ? '#e0f3e0' : '#e6e4e4'">
          <p id="commentTime">{{message.timeSent}}</p>
          <p id="commentUser">{{message.userName}}</p>
          <p id="commentText">{{message.message}}</p>
        </div>
      </ion-item>
    </ion-content>

    <ion-footer keyboard-attach class="bar-stable item-input-inset">
      <ion-item id="messageInput">
            <ion-input id="commentInput" type="text" placeholder="  enter your message..." [(ngModel)]="messageText" (keyup.enter)="sendMessage()"></ion-input>
            <button ion-button item-right (click)="sendMessage()">Send</button>
          </ion-item>
      </ion-footer>


