<ion-header no-shadow>

  <ion-navbar transparent>
  </ion-navbar>

</ion-header>


<ion-content>
    <div id="searchbars">
    <ion-searchbar 
      (ionFocus)="onSearchBar('start')" 
      (ionInput)="onSearchChange($event.target.value)" 
      [(ngModel)]="startingPoint" 
      name="starting" 
      class="searchbar"
      placeholder="Starting point..." 
      required [disabled]="disableBtns"
      (ionCancel)="onCancel($event)">
    </ion-searchbar>
    <ion-searchbar #searchbar 
      (ionFocus)="onSearchBar('end')" 
      (ionInput)="onSearchChange($event.target.value)"  
      [(ngModel)]="destination" 
      name="destination" 
      class="searchbar"
      placeholder="Destination..." 
      required [disabled]="disableBtns">
    </ion-searchbar>
    </div>
    <ion-list *ngIf="showList">
      <ion-item *ngFor="let name of (suggestedRoads ? suggestedRoads.slice(0,3): []);" (click)="roadNameClicked(name)">
        {{ name }}
      </ion-item>
    </ion-list>
    


  <div id="map" class="map">
    <ion-fab bottom right>
      <button ion-fab mini  (click)="saveRoute()" [disabled]="disableBtns">
        <ion-icon name="checkmark-circle" large></ion-icon>
      </button>
    </ion-fab>
    <button ion-button block>Save</button>
  </div>

  <!-- 

   <ion-list>
    <ion-item>
      <ion-input type="text"  [(ngModel)]="startingPoint" name="starting" placeholder="Starting point..." required [disabled]="disableBtns"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text"  [(ngModel)]="destination" name="destination" placeholder="Destination..." required [disabled]="disableBtns"></ion-input>
    </ion-item>
  </ion-list>

-->

  

</ion-content>