


<ion-content>
  <div id="searchbars">
    <ion-searchbar (ionFocus)="onSearchBar('start')" (ionInput)="onSearchChange($event.target.value)" [(ngModel)]="startingPoint"
      name="starting" class="searchbar" placeholder="Starting point..." required [disabled]="disableBtns" (ionCancel)="onCancel($event)">
    </ion-searchbar>
    <ion-searchbar #searchbar (ionFocus)="onSearchBar('end')" (ionInput)="onSearchChange($event.target.value)" [(ngModel)]="destination"
      name="destination" class="searchbar" placeholder="Destination..." required [disabled]="disableBtns">
    </ion-searchbar>
  </div>
  <ion-list *ngIf="showList">
    <ion-item *ngFor="let name of (suggestedRoads ? suggestedRoads.slice(0,3): []);" (click)="roadNameClicked(name)">
      {{ name }}
    </ion-item>
  </ion-list>
  <ion-item text-center>
      <button ion-button round outline color="danger" (click)="cancel()">Cancel</button>
    <button ion-button round outline (click)="saveRoute()">Confirm</button>
  </ion-item>
  <div id="map" class="map">
  </div>

</ion-content>