.ios, .md {

  page-create-journey{
      ion-navbar .toolbar-background {
        background: transparent;
    }

    ion-content .scroll-content {
        margin-top:0px !important;
    }

    ion-header ion-icon.back-button-icon.icon,
    ion-header span.back-button-text.back-button-text-ios {
       color: #25811F;
       font-weight:350px;
       padding:0;
    }

    .header-md {
       display: none;
      }

      #searchbars{
          height:85px;
      }
      ion-list{
        max-height: 100px;

        ion-item.item:hover{
            background-color: rgb(72, 141, 101);
            color:white;
          }

        ion-item.item:focus{
            background-color: rgb(72, 141, 101);
            color:white;
        }
      }

      ion-searchbar {
        background: transparent;
        padding:0px;
      }

      #map {
          width:100%;
          height:75%;
      }
  }
  }
