<ion-header no-border>
  <ion-navbar color="primary">
    <ion-title>Journey Details</ion-title>
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <div padding>
    <ion-segment [(ngModel)]="journeys">
      <ion-segment-button value="journeys">
        Journey
      </ion-segment-button>
      <ion-segment-button value="allocation">
        Allocation
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="journeys">


    <ion-list no-lines *ngSwitchCase="'journeys'">
      <p align="center" class="text-muted"> {{ routeSet == true ? 'Route Details:' : 'route missing. Add route below...' }}</p>

      <p class="journeyPara" *ngIf="routeSet">Start:
        <span>{{ start }}</span>
      </p>
      <p class="journeyPara" *ngIf="routeSet">Destination:
        <span>{{ end }}</span>
      </p>

      <ion-item no-lines text-center>
        <button default ion-button round outline (click)="addRoute()">{{btnAddTitle}}</button>
      </ion-item>

      <ion-item>
        <ion-label class="datetime">Start Date</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="myDate"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label class="datetime">Pick Up Time</ion-label>
        <ion-datetime displayFormat="HH:mm" [(ngModel)]="myTime"></ion-datetime>
      </ion-item>

      <ion-item id="repeatingToggle">
        <ion-label>Repeating Journey</ion-label>
        <ion-toggle [(ngModel)]="repeating"></ion-toggle>
      </ion-item>

      <ion-list id="daysOfWeek" *ngIf="repeating">
        <ion-item>
          <ion-checkbox [(ngModel)]="daysOfWeek.Mon"></ion-checkbox>
          <ion-label>Monday</ion-label>
        </ion-item>
        <ion-item>
          <ion-checkbox [(ngModel)]="daysOfWeek.Tue"></ion-checkbox>
          <ion-label>Tuesday</ion-label>
        </ion-item>
        <ion-item>
          <ion-checkbox [(ngModel)]="daysOfWeek.Wed"></ion-checkbox>
          <ion-label>Wednesday</ion-label>
        </ion-item>
        <ion-item>
          <ion-checkbox [(ngModel)]="daysOfWeek.Thu"></ion-checkbox>
          <ion-label>Thursday</ion-label>
        </ion-item>
        <ion-item>
          <ion-checkbox [(ngModel)]="daysOfWeek.Fri"></ion-checkbox>
          <ion-label>Friday</ion-label>
        </ion-item>
        <ion-item>
          <ion-checkbox [(ngModel)]="daysOfWeek.Sat"></ion-checkbox>
          <ion-label>Saturday</ion-label>
        </ion-item>
        <ion-item>
          <ion-checkbox [(ngModel)]="daysOfWeek.Sun"></ion-checkbox>
          <ion-label>Sunday</ion-label>
        </ion-item>
      </ion-list>

      <ion-list id="luggageWeight">
        <div *ngIf="userRole.rider">
          <ion-label>
            Luggage Weight (kg)
            <ion-badge item-end>{{luggageWeight}} kg</ion-badge>
          </ion-label>
          <ion-item>
            <ion-range min="0" max="10" [(ngModel)]="luggageWeight" color="secondary">
              <ion-label range-left>0</ion-label>
              <ion-label range-right>10</ion-label>
            </ion-range>
          </ion-item>
        </div>
        <div *ngIf="userRole.driver">
          <ion-label>
            Seats Available
            <ion-badge item-end>{{seatsAvailable}}</ion-badge>
          </ion-label>
          <ion-item>
            <ion-range min="0" max="7" [(ngModel)]="seatsAvailable" color="secondary">
              <ion-label range-left>0</ion-label>
              <ion-label range-right>7</ion-label>
            </ion-range>
          </ion-item>
        </div>
      </ion-list>

      <ion-item id="commentBox">
        <ion-label>Journey Comment</ion-label>
        <ion-textarea [(ngModel)]="description" name="description" rows="3" columns="25" maxLength="500"></ion-textarea>
      </ion-item>

      <ion-item no-lines text-center>
        <button default ion-button round outline color="danger" (click)="cancelJourney()">Cancel</button>
        <button default ion-button round outline (click)="addJourney()">Confirm</button>
      </ion-item>
    </ion-list>


    <ion-list no-lines *ngSwitchCase="'allocation'">

      <!-- SHARED JOURNEY VIEW (DRIVER ONLY) -->
      <div id="driverSharedView" *ngIf="userRole.driver">
        <p align="center" class="text-muted">Journey Info</p>
        <p class="journeyPara" *ngIf="routeSet">Start:
          <span>{{ start }}</span>
        </p>
        <p class="journeyPara" *ngIf="routeSet">Destination:
          <span>{{ end }}</span>
        </p>
        <p class="journeyPara" *ngIf="routeSet">Pick Up:
          <span>{{ myTime }}</span>
        </p>

        <p align="center" class="text-muted">Passengers</p>
        <ion-item *ngFor="let user of users" (click)="userOptions(user)">
          <ion-avatar item-start>
            <img src="../../assets/img/avatar-leia.png">
          </ion-avatar>
          <h3>{{user.username}}</h3>
          <p>From: Friar Lane</p>
          <p>To: Hotel Street</p>
        </ion-item>
                
        <div id="discussion">
            <p align="center" class="text-muted">Discussion</p>
      
            <ion-item *ngFor="let comment of commentList$ | async">
              <ion-avatar item-start>
                <img src="../../assets/img/avatar-leia.png">
              </ion-avatar>
              <div class="comment">
                <p id="commentTime">{{comment.timeSent}}</p>
                <p id="commentUser">{{comment.userName}}</p>
                <p id="commentText">{{comment.message}}</p>
              </div>
            </ion-item>
            <ion-item id="comments">
              <ion-input id="commentInput" type="text" placeholder="  enter your message..." [(ngModel)]="commentText"></ion-input>
              <button ion-button outline item-right (click)="postComment()">Send</button>
            </ion-item>
          </div>

      </div>


      <div *ngIf="userRole.rider">
      <p *ngIf="suggestedRoutes != undefined" id="muted" align="center">suggested riders</p>
      <ion-card *ngFor="let route of suggestedRoutes; let i = index">

        <ion-item>
          <ion-avatar item-start>
            <img src="../../assets/img/avatar-leia.png">
          </ion-avatar>
          <h2>{{route.username}}</h2>
          <p>Start Date: {{route.startDate}}</p>
        </ion-item>

        <ion-item>
          <ion-icon name="pin" item-start large></ion-icon>
          <h2>{{route.start}}</h2>
        </ion-item>

        <ion-item>
          <ion-icon name="pin" item-left large></ion-icon>
          <h2>{{route.end}}</h2>
        </ion-item>

        <ion-item id="suggestedJourneyInfo">
          <span item-left>
            <ion-icon name="car"></ion-icon>18 min</span>
          <span item-left>(2.6 mi)</span>
          <span item-left>
            <ion-icon name="people"></ion-icon>{{route.users == undefined ? '0': route.users.length }} / {{route.seatsAvailable}}</span>
          <button ion-button icon-left outline item-end (click)="joinJourney(route)" [style.color]="route.status === 'pending' ? '#f3aa6f' : '#64bb64'"
            [style.border-color]="route.status === 'pending' ? '#f3aa6f' : '#64bb64'">
            <ion-icon name="navigate"></ion-icon>
            {{route.status == 'unmatched' ? 'join' : 'pending'}}
          </button>
        </ion-item>

        <ion-item id="suggestedJourneyDays">
          <span class="day" [style.background-color]="route.daysOfWeek.Mon === true ? '#64bb64' : '#aca9a9'">M</span>
          <span class="day" [style.background-color]="route.daysOfWeek.Tue === true ? '#64bb64' : '#aca9a9'">T</span>
          <span class="day" [style.background-color]="route.daysOfWeek.Wed === true ? '#64bb64' : '#aca9a9'">W</span>
          <span class="day" [style.background-color]="route.daysOfWeek.Thu === true ? '#64bb64' : '#aca9a9'">T</span>
          <span class="day" [style.background-color]="route.daysOfWeek.Fri === true ? '#64bb64' : '#aca9a9'">F</span>
          <span class="day" [style.background-color]="route.daysOfWeek.Sat === true ? '#64bb64' : '#aca9a9'">S</span>
          <span class="day" [style.background-color]="route.daysOfWeek.Sun === true ? '#64bb64' : '#aca9a9'">S</span>
        </ion-item>
      </ion-card>
    </div>

      <div *ngIf="userRole.driver">
        <ion-card *ngFor="let rider of suggestedRiders; let i = index">     
          <ion-item>
            <ion-avatar item-start>
              <img src="../../assets/img/avatar-leia.png">
            </ion-avatar>
            <h2>{{rider.username}}</h2>
            <p>Request type: {{rider.request}}</p>
            <p>Request for: {{rider.journeyDate | date}}</p>
          </ion-item>
          
          <ion-item id="suggestedJourneyInfo">
            <button ion-button icon-left outline item-end (click)="acceptRiderRequest(rider, i)">
              <ion-icon name="navigate"></ion-icon>
              accept
            </button>
          </ion-item>
        </ion-card>
      </div>
        
      </ion-list>
    </div>
    
  </ion-content>