.ios, .md {
    page-journey-view {

        .journeyPara{
            font-weight: 250;
            text-decoration: underline;
            padding-left: 5%;
        }
        .journeyPara span{
            background-color:rgb(234, 247, 234);
            color: #64bb64;
            padding:4px;
            border-radius:3px;
            border:1px solid #64bb64;
            float:right;
        }

        ion-label{
            font-size: 13px;
        }

        ion-list-header{
            font-size: 13px;
        }

        #repeatingToggle{
            margin-bottom:2%;
        }

        #daysOfWeek ion-item{
            background-color:rgb(234, 247, 234);
            color: #64bb64;
            padding:4px;
            border-radius:3px;

            opacity: 1;
            animation-name: fadeInOpacity;
            animation-iteration-count: 1;
            animation-timing-function: ease-in-out;
            animation-duration: 0.2s;
        }

        #luggageWeight{
            background-color:rgb(234, 247, 234);
            color: #64bb64;
            padding:4px;
            border-radius:3px;
            width:90%;
            margin: 0 auto;

            ion-label{
                margin-left:5%;
            }
        }

        #commentBox{
            background-color:rgb(234, 247, 234);
            color: #64bb64;
            padding:4px;
            border-radius:3px;
            width:90%;
            margin: 0 auto;
            margin-top:1%;

            ion-label{
                margin-left:5%;
                height:15px;
            }

            ion-textarea{
                margin-top:15%;
                background-color: white;
                color:#000;
                float:left;
            }
        }



        ion-datetime{
            background-color:rgb(234, 247, 234);
            color: #64bb64;
            padding:4px;
            border-radius:3px;
            border:1px solid #64bb64;
        }
    }

    @keyframes fadeInOpacity {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    #muted{
        color:gray;
        font-size: 0.91em;
    }

    #joinBtn{
        float:right;
        margin-right:10%;
    }

    p span{
        background-color:rgb(234, 247, 234);
        color: #64bb64;
        padding:1px;
        border:1px solid #64bb64;
        border-radius:3px;
    }

    #suggestedJourneyInfo{
        font-size: 1em;
    }

    #suggestedJourneyDays{
        ion-label{
            font-size: 10px;
            height:60%;
        }

        .day {
            height: 27px;
            width: 27px;
            line-height: 27px;
            color:#fcfcfc;
            border-radius: 50%;
            margin-left:1.3%;
            display: inline-block;
            text-align: center;
        }
    }

}
