<ion-header no-border>
  <ion-navbar color="primary">
    <ion-title>Journey Page</ion-title>
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="journey != undefined">
    <p align="center" class="text-muted">Journey Info</p>
    <p class="journeyPara">Start:
      <span>{{ journey.start }}</span>
    </p>
    <p class="journeyPara">Destination:
      <span>{{ journey.end }}</span>
    </p>
    <p class="journeyPara">Pick Up:
      <span>{{ journey.pickUpTime }}</span>
    </p>

    <p align="center" class="text-muted">Passengers</p>
    <ion-item *ngFor="let user of journey.users" (click)="userOptions(user)">
      <span *ngIf="user.userID != currentUserUID">
        <ion-item no-lines>
          <div id="initial" item-start style="zoom:1.2;">
              {{user.username.charAt(0)}}
            </div>
        <h3>{{user.username}}</h3>
        <p>From: {{user.journey.start}}</p>
        <p>To: {{user.journey.end}}</p>
      </ion-item>
      </span>
    </ion-item>

    <div id="discussion">
      <p align="center" class="text-muted">Discussion</p>

      <ion-item *ngFor="let comment of commentList$ | async">
          <div id="initial" item-start style="zoom:1.2;" *ngIf="comment.uid != uid">
              {{comment.userName.charAt(0)}}
            </div>
          <div id="initial" item-end style="zoom:1.2;" *ngIf="comment.uid == uid">
              {{comment.userName.charAt(0)}}
            </div>
          <div class="comment" [style.background-color]="comment.uid == uid ? '#e0f3e0' : '#e6e4e4'">
            <p id="commentTime">{{comment.timeSent}}</p>
            <p id="commentUser">{{comment.userName}}</p>
            <p id="commentText">{{comment.message}}</p>
          </div>
      </ion-item>
      <ion-item id="comments">
        <ion-input id="commentInput" type="text" placeholder="  enter your message..." [(ngModel)]="commentText"></ion-input>
        <button ion-button outline item-right (click)="postComment()">Send</button>
      </ion-item>
    </div>
  </div>
</ion-content>